@tailwind base;
@tailwind components;
@tailwind utilities;

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
  padding: 0 1.5rem;
  border-right: 2px solid gray;
}

[data-rehype-pretty-code-title] {
  @apply mt-4 px-4 py-2 text-sm font-medium;
}

[data-rehype-pretty-code-title] + pre {
  @apply mt-0;
}

code::before {
  content: none !important;
}

code::after {
  content: none !important;
}
